<ion-view view-title="<strong>ZOYA'S BUTIK </strong>" >
    <ion-content  padding="true" class="login" scroll="false">
<div class="margin">


        <a class="button button-outline button-light" href="#/home">

            <b>MAN</b> BRANDS
        </a>

        <a class="button  button-outline button-light" href="#/woman">
             <b>WOMAN</b> BRANDS
        </a>

        <a class="button  button-outline button-light"  href="#/children">
         <b>CHILDREN</b> BRANDS
        </a>


</div>

    </ion-content>
</ion-view>